//* Apparition des cartes - Page des menus *//
//* Cards appearance - Menus page *//

.starter {
    opacity: 0;
    animation: appear 3s linear forwards;
    animation-delay: 200ms;
}

.maincourse {
    opacity: 0;
    animation: appear 3s linear forwards;
    animation-delay: 300ms;
}

.dessert {
    opacity: 0;
    animation: appear 3s linear forwards;
    animation-delay: 500ms;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}