//* Couleurs *//
//* Colors *//

$primary-color : #9356DC;
$secondary-color: #FF79DA;

$white: #FFFF;


//* Couleurs des arrière-plans *//
//* Backgrounds colors *//

$background-locationbar: #EAEAEA;
$background-sections: #F6F6F6;
$background-footer: #353535;
$green-background: #99E2D0;


//* Texte de l'épingle - Nouveau *//
//* Pin's text - New *//

$pin-color: #008766;


//* Police de caractères *//
//* Font weight *//

$thin : 300;
$regular: 400;
$thick: 500;
$bold: 700;


//* Points de rupture *//
//* Breakpoints *//

$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1340px;
$extra-screen: 1440px;